<div class="text-center contenido">
  <div class="banner">
    <h3 class="banner-text">Administración de publicaciones</h3>
    <button class="btn" (click)="removeToken()">Cerrar sesión</button>
  </div>
  <form [formGroup]="form" class="form-style">
      <!-- CAMBIAR A DROPDOWN -->
    <label for="tipo">Tipo Mobiliario:</label>
    <input
      id="tipo"
      type="text"
      class="form-control"
      formControlName="tipoMobiliario"
      [ngClass]="{
        'error-validation': submitted && f['tipoMobiliario'].errors,
        'success-validation':
          tipoMobiliario.valid && (tipoMobiliario.dirty || tipoMobiliario.touched)
      }"
    />
    <label for="hab">Número de habitaciones:</label>
    <input
      id="hab"
      type="number"
      class="form-control"
      formControlName="numHabitaciones"
      [ngClass]="{
        'error-validation': submitted && f['numHabitaciones'].errors,
        'success-validation': numHabitaciones.valid && (numHabitaciones.dirty || numHabitaciones.touched)
      }"
    />
    <label for="banos">Número de baños:</label>
    <input
      id="banos"
      type="number"
      class="form-control"
      formControlName="numBanos"
      [ngClass]="{
        'error-validation': submitted && f['numBanos'].errors,
        'success-validation': numBanos.valid && (numBanos.dirty || numBanos.touched)
      }"
    />
    <label for="piso">Piso:</label>
    <input
      id="piso"
      type="number"
      class="form-control"
      formControlName="piso"
      [ngClass]="{
        'error-validation': submitted && f['piso'].errors,
        'success-validation': piso.valid && (piso.dirty || piso.touched)
      }"
    />
      <!-- CAMBIAR A DROPDOWN -->
    <label for="sector">Sector:</label>
    <input
      id="sector"
      type="text"
      class="form-control"
      formControlName="sector"
      [ngClass]="{
        'error-validation': submitted && f['sector'].errors,
        'success-validation': sector.valid && (sector.dirty || sector.touched)
      }"
    />

    <label for="descripcion">Descripción:</label>
    <input
      id="descripcion"
      type="text"
      class="form-control"
      formControlName="descripcion"
      [ngClass]="{
        'error-validation': submitted && f['descripcion'].errors,
        'success-validation': descripcion.valid && (descripcion.dirty || descripcion.touched)
      }"
    />

    <label for="canon">Canon (en pesos, sin comas ni puntos):</label>
    <input
      id="canon"
      type="number"
      class="form-control"
      formControlName="canon"
      [ngClass]="{
        'error-validation': submitted && f['canon'].errors,
        'success-validation': canon.valid && (canon.dirty ||canon.touched)
      }"
    />

    <label for="foto">Foto (ingresa un link):</label>
    <input
      id="foto"
      type="text"
      class="form-control"
      formControlName="foto"
      [ngClass]="{
        'error-validation': foto && f['foto'].errors,
        'success-validation': foto.valid && (foto.dirty || foto.touched)
      }"
    />
   
    <label for="cocina">¿Tiene cocina integral?</label>
    <div class="label-radio">
      <input type="radio" value="SI" formControlName="tieneCocinaIntegral" />
      <span>Sí</span>
    </div>

    <div class="label-radio">
      <input type="radio" value="NO" formControlName="tieneCocinaIntegral" />
      <span>No</span>
    </div>

    <label for="patio">¿Tiene patio?</label>
    <div class="label-radio2">
      <input type="radio" value="SI" formControlName="tienePatio" />
      <span>Sí</span>
    </div>

    <div class="label-radio2">
      <input type="radio" value="NO" formControlName="tienePatio" />
      <span>No</span>
    </div>

    

    <button class="btn btn-success" (click)="validacion()">
      {{ editting ? "Editar Publicación" : "Añadir Publicación" }}
    </button>

    
      <button *ngIf="editting==true" class="btn btn-success" (click)="reset()">
      Limpiar
    </button>
    
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Sector</th>
        <th scope="col">Canon</th>
        <th scope="col">Num. interesados</th>
       
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="mobiliarios && mobiliarios.length > 0">
      <tr *ngFor="let item of mobiliarios">
        <th scope="row">{{ item._id | slice: 0:10 }}...</th>
        
        <td><img [src]="item.foto" alt="" height="30px" width="30px"></td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.sector }}</td>
        <td>{{ item.canon }}</td>
        <td>{{ item.num_interesados }}</td>
     
        <td>
          <button class="btn btn-success" >Editar</button>
          <!-- (click)="edit(item)" -->
          <button class="btn btn-danger" (click)="delete(item._id)">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>